@import '../../scss/colors.scss';
// WALLET INIT
.wallet{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;

    &__background{
        width: 100%;
        height: 192px;
        position: absolute;
        top: -12px;
        left: 0;
        z-index: 1;
    }

    &__image{
        display: block;
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
}

.top-bar,.avatar,.personal-info,.credit-cards{
    z-index: 2;
    position: relative;
}
// WALLET END

// TOP BAR INIT
.top-bar{
    color: $color-white;
    display: flex;
    justify-content: space-between;
    
    &__title{
        font-weight: 600;
    }
}
// TOP BAR END

// AVATAR INIT
.avatar{
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrapper{
        width: 147px;
        height: 147px;
        border-radius: 50%;
        border: 2px solid $color-white;
        overflow: hidden;
    }

    &__image{
        width: 100%;
    }
}
// AVATAR END

// PERSONAL INFO INIT
.personal-info{
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    &__title{
        font-weight: 500;
        color: transparentize($color-black, 0.5);
        font-size: 12px;
    }

    &__info{
        margin-top: 18px;
        color: $color-black;
        font-weight: 600;

        .label{
            width: 70px;
            display: inline-block;
            text-align: left;
        }
    }
}
// PERSONAL INFO END

// CREDIT CARDS INIT
.credit-cards{
    margin-top: 54px;

    &__title{
        font-weight: 500;
        color: transparentize($color-black, 0.5);
        font-size: 12px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    &__add-new{
        padding-left: 20px;
        position: relative;
        background: transparent;
        border: none;
        color: inherit;
        
        &:after,&:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 12px;
            height: 1px;
            border-radius: 2px;
            background: $color-black-w-50-opacity;
            transform: translateY(-50%);
        }
        &:before{
            transform: translateY(-50%) rotate(90deg);
        }
    }

    &__cards{
        display: flex;
        justify-content: flex-start;
        padding: 15px 16px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03);
        border-radius: 25px;
        margin-top: 17px;

        .brand{
            display: flex;
            align-items: center; 
            margin-right: 16px;
        }

        .info{
            text-align: left;
        }

        .title{
            color: $color-black;
            font-weight: bold;
            font-size: 16px;
            text-transform: capitalize;
        }

        .number{
            margin-top: 5px;
            color: $color-black;
            font-size: 12px;
            color: transparentize($color-black, 0.5);
        }
    }
}
// CREDIT CARDS END