$color-primary: #0070BA;
$color-primary-shade: #005EA6;
$color-primary-dark: #1546A0;
$color-gray: #F5F7FA;
$color-white: #FFFFFF;
$color-black: #243656;
$background-gradient: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(51,118,202,1) 43%, rgba(42,104,190,1) 60%, rgba(21,70,160,1) 100%);;
$color-black-w-50-opacity: #929BAB;
$color-green: #37D39B;
$color-red: #F47090;